<div class="container">
    <ul class="nav-step-bar">
        <li class="col-sm-4 cancel">Verify Email Address</li>
        <li class="col-sm-4 current-primary">Set Payment Password</li>
        <li class="col-sm-4">Completed</li>
    </ul>

    <br/>

    <div ng-if="verifyEmailLinkPass">
        <div class="children-vertical-middle text-success">
            <span class="icon icon-successful"></span>
            <h3 class="inline margin-small-top margin-left">
                {{$root.accountInfo.displayName}}, your email address has been verified successfully!
            </h3>
        </div>

        <h4>1.Please set your payment password:</h4>

        <div class="row">
            <div class="col-sm-6">
                <form name="passwordForm" class="form-horizontal margin-large-top">
                    <div class="form-group">
                        <label class="col-sm-4 control-label text-right">
                            <span class="text-danger">*</span> Create Payment Password:
                        </label>
                        <div class="col-sm-8">
                            <div ng-class="{'form-item-invalid-bottom': passwordForm.paymentPassword.$invalid && passwordForm.paymentPassword.$dirty && !passwordForm.paymentPassword.$focused}">
                                <input required
                                       valid-focus
                                       ng-pattern="/^[0-9a-zA-Z]{6,20}$/"
                                       ng-model="$parent.paymentPassword" name="paymentPassword" type="password" class="form-control" placeholder="6-20 characters (letters or numbers only)">
                                <span class="invalid-message-danger"><span class="glyphicon glyphicon-remove-circle"></span> 6-20 characters (letters or numbers only)</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label text-right">
                            <span class="text-danger">*</span> Confirm Your Password:
                        </label>
                        <div class="col-sm-8">
                            <div ng-class="{'form-item-invalid-bottom':  passwordForm.confirmPassword.$dirty && passwordForm.confirmPassword.$invalid && !passwordForm.confirmPassword.$focused}">
                                <input required
                                       valid-focus
                                       ng-model="confirmPassword"
                                       match="paymentPassword" name="confirmPassword" type="password" class="form-control" placeholder="Enter password again">

                                <span class="invalid-message-danger"><span class="glyphicon glyphicon-remove-circle"></span> Password is incorrect</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-4">
                            <label>
                                <input required ng-model="hasAgree" type="checkbox"> I agree to
                            </label>
                            <a href="javascript:void(0)" ng-click="openGMCPayTerms()"><b>GMCpay Agreement</b></a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-6 padding-large-top">
            <span class="text-muted">
                <small>You need the payment password to pay for purchases on globalmarket.com or withdraw from your GMCpay account to your bank account. Please remember your payment password!</small>
            </span>
            </div>
        </div>

        <h4>2.Please add a bank card:</h4>

        <p class="text-muted">
            When you withdraw money from your GMCpay account, this card would be an option for you. Or transferring cash directly in bank, this card is reference to withdraw money. So please register it carefully.
        </p>

        <br/>

        <!--填写银行卡信息-->
        <div class="row">
            <div class="col-sm-6">
                <form name="cardForm" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-4 control-label text-right">
                            <span class="text-danger">*</span> Bank Name:
                        </label>
                        <div class="col-sm-8">
                            <div required ui-select name="bankName" ng-model="cardInfo.bankName">
                                <div ui-select-match placeholder="Please select a bank">{{$select.selected}}</div>
                                <div ui-select-choices repeat="bankName in banksList | filter:$select.search">
                                    <p>
                                        {{bankName}}
                                    </p>
                                </div>
                            </div>

                            <!--选择其它银行时填定的文本框-->
                            <div ng-show="cardInfo.bankName == 'Others'" class="margin-large-top" ng-class="{'form-item-invalid-bottom': cardForm.otherBankName.$invalid && cardForm.otherBankName.$dirty}">
                                <input ng-required="cardInfo.bankName == 'Others'" ng-model="cardInfo.otherBankName" name="otherBankName" type="text" class="form-control">
                                <span class="invalid-message-danger"><span class="glyphicon glyphicon-remove-circle"></span> Required</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label text-right">
                            <span class="text-danger">*</span> Account Name:
                        </label>
                        <div class="col-sm-8">
                            <div ng-class="{'form-item-invalid-bottom': cardForm.cardAccountName.$invalid && cardForm.cardAccountName.$dirty}">
                                <input required ng-model="cardInfo.cardAccountName" name="cardAccountName" type="text" class="form-control">
                                <span class="invalid-message-danger"><span class="glyphicon glyphicon-remove-circle"></span> Required</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label text-right">
                            <span class="text-danger">*</span> Bank Account Number:
                        </label>
                        <div class="col-sm-8">
                            <div ng-class="{'form-item-invalid-bottom': cardForm.cardAccountNO.$invalid && cardForm.cardAccountNO.$dirty}">
                                <input required
                                       ng-pattern="/^[0-9\s]+$/"
                                       ng-model="cardInfo.cardAccountNO"
                                       mask="9999 9999 9999 9999 9999 9999 9999"
                                       validate="false"
                                       restrict="accept"
                                       name="cardAccountNO" type="text" class="form-control">
                                <span class="invalid-message-danger"><span class="glyphicon glyphicon-remove-circle"></span> Required, [0-9]</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label text-right">
                            Bank Address:
                        </label>
                        <div class="col-sm-8">
                            <input ng-model="cardInfo.cardBankAddress" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group margin-xs-bottom">
                        <label class="col-sm-4 control-label text-right">
                            <span class="text-danger">*</span> Swift Code:
                        </label>
                        <div class="col-sm-8">
                            <div ng-class="{'form-item-invalid-bottom': cardForm.cardSwiftCode.$invalid && cardForm.cardSwiftCode.$dirty}">
                                <input required ng-model="cardInfo.cardSwiftCode" name="cardSwiftCode" type="text" class="form-control">
                                <span class="invalid-message-danger"><span class="glyphicon glyphicon-remove-circle"></span> Required</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-4">
                        <span class="text-muted">
                            Notice：If you don't know the swift code of your bank, please check here. <br/>
                            <a href="http://www.swift.com/bsl/facelets/bicsearch.faces" target="_blank">http://www.swift.com/bsl/facelets/bicsearch.faces</a>
                        </span>
                            <br/>
                            <button ng-disabled="cardForm.$invalid || passwordForm.$invalid" ng-click="submit()" type="submit" class="btn btn-warning margin-top">Submit</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-sm-6">
                <span class="text-muted">Sample:</span>
                <table class="table table-bordered">
                    <tr>
                        <td>Bank Name</td>
                        <td>Citibank N.A. Hong Kong</td>
                    </tr>
                    <tr>
                        <td>Account Name</td>
                        <td>Feifei international Limited</td>
                    </tr>
                    <tr>
                        <td>Bank Account Number</td>
                        <td>7125 3758 1738 5922 4325</td>
                    </tr>
                    <tr>
                        <td>Bank Address</td>
                        <td>3 Garden Road, Citibank Plaza, Central, Hong Kong</td>
                    </tr>
                    <tr>
                        <td>Swift Code</td>
                        <td>CITIHKH</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>