<div class="container">
    <ul class="nav-step-bar">
        <li class="col-sm-4 cancel">Verify Email Address</li>
        <li class="col-sm-4 cancel">Set Payment Password</li>
        <li class="col-sm-4 current-primary">Completed</li>
    </ul>

    <br/>

    <div>
        <div class="children-vertical-middle text-success">
            <span class="icon icon-successful"></span>
            <h3 class="inline margin-small-top margin-left">
                Congratulations，your GMCpay account has been activated! 
            </h3>
        </div>

        <br/>

        <p class="text-muted">
            Please remember your payment password.
        </p>

        <br/>

        <p>
            <a href="#!/gmc-pay/recharge" class="btn btn-warning">Recharge Now</a> <a href="#!/gmc-pay/my-account" class="margin-left">Check my account</a>
        </p>

        <br/><br/><br/>
        
        <p>
            <img class="full-width" src="assets/images/recharge-process.jpg">
        </p>

    </div>

</div>