<div class="gmc-pay introduction">
    <div class="gmc-user-login gmc-user">
        <div class="gmc-pay-banner-active gmc-pay-banner">
        </div>

        <div class="gmc-pay-process-nav"></div>
        <div class="content">

            <p>
                <strong>What is GMC PAY?</strong>
                <span>GMCpay is a trusted payment processing service offered by Global Market Group, a company listed on the London Stock Exchange (LSE:GMC). GMCpay allows payments and money transfers to be made for purchases on Globalmarket.com easily and quickly. No processing fee for GMCpay, no matter how many times shopping on globalmarket.com. Save more money for you!</span>
            </p>

            <a ng-show="!isActivated" ng-click="activeMyGMCpay()" href="javascript:void(0)" class="button-large-yellow-active button-large-yellow">Activate my GMCpay account</a>

            <table class="example-table">
                <thead>
                <tr>
                    <th width="360"></th>
                    <th width="310">Processing fee for <b>shop once</b> <br/>
                        (ex: order payment is US $3000)</th>
                    <th width="310">Processing fee for <b>shop 5 times</b><br/>
                        (ex: order payment is US $3000)</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <img src="assets/images/gmcpay-logo.png"/>
                        <span class="tip margin-small-top">
                            Notice: Every time you recharge by Bank Transfer, <br/>
                            your bank may charge you around $30 processing fee
                        </span>
                    </td>
                    <td class="yellow price">
                        US $0
                    </td>
                    <td class="yellow price">
                        US $0
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="assets/images/logo-bank-transfer.jpg" />
                    </td>
                    <td class="price">
                        US $36.5
                    </td>
                    <td class="price">
                        US $182.5
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="assets/images/logo-paypal.jpg" width="173" height="41" />
                    </td>
                    <td class="price">
                        US $87.3
                    </td>
                    <td class="price">
                        US $88.3
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>