<div class="gmc-pay">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-primary">Terms and conditions, GMCpay privacy</h4>
    </div>
    <div class="modal-body">
        <div class="terms-content">
            <p>
                <b>GMCpay Background</b>
            </p>
            <p>
                GMCpay aims to offer a convenient and economical trading environment to our B2B merchants for its small order on its individual shopping websites.
            </p>

            <p>
                <b>Your GMCpay Account</b><br/>
                Your GMCpay Account is an electronic money account which enables you to make electronic payments transfer. Your GMCpay Account is denominated in USD currency, therefore, the currency you transfer should be USD. Your GMCpay Account may be subject to charge, payment and withdrawal limits, depending on your country of residence, the verification status of your GMCpay Account and other factors used by us to determine such limits from time to time at our sole discretion.
            </p>
            <p>
                You must take all reasonable steps to keep your GMCpay Account password safe at all times and never disclose it to anyone. Our personnel will never ask you to provide your password to us or to a third party. Any message you receive or website you visit that asks for your password, other than the GMCpay Website or a GMCpay payment gateway on a merchant website, should be reported to us. If you are in doubt whether a website is genuine, you should contact Customer Service. We also always advise you not to choose a password that is easily guessed from information someone might know or gather about you or a password that has a meaning. You must never allow anyone to access your GMCpay Account or watch you accessing your GMCpay Account.
                If you have any indication or suspicion of your GMCpay Account, login details, password or other security feature being lost, stolen, misappropriated, used without authorization or otherwise compromised, you are advised to change your password. You must contact Customer Service without undue delay on becoming aware of any loss, theft, misappropriation or unauthorized use of your GMCpay Account, login details, password or other security features.
                You must take all reasonable care to ensure that your e-mail account(s) are secure and only accessed by you, as your e-mail address may be used to reset passwords or to communicate with you about the security of your GMCpay Account. In case any of the e-mail addresses registered with your GMCpay Accounts are compromised, you should without undue delay after becoming aware of this contact Customer Service and also contact your e-mail service provider.
            </p>

            <p>
                <b>Prohibited online payment</b>
            </p>
            <p>
                1. Prescription drugs<br/>
                2. Drugs and drug paraphernalia<br/>
                3. Tobacco products<br/>
                4. Satellite and cable TV descramblers<br/>
                5. Weapons (including without limitation, knives, guns, firearms or ammunition)<br/>
                6. Pornography, adult material, material which incites violence, hatred, racism or which is considered obscene<br/>
                7. Unlicensed or illegal lotteries or gambling services (including without limitation the use of or participation in illegal gambling houses)<br/>
                8. Government IDs and licenses including replicas and novelty items and any counterfeit products<br/>
                9. Items which encourage or facilitate illegal activities<br/>
                10. Unregistered charity services<br/>
                11. Prepaid debit cards or other stored value cards that are not associated with a particular merchant and are not limited to purchases of particular products or services<br/>
                12. Third party processing or payment aggregation products or services<br/>
                13. Multi-level marketing, pyramid selling or ponzi schemes, matrix programmers or other “get rich quick” schemes or high yield investment programmers<br/>
                14. Goods or services that infringe the intellectual property rights of a third party.<br/><br/>

                It is strictly forbidden to make payments to or to receive payments from persons or entities offering illegal gambling services, including (but not limited to) illegal sports betting, casino games and poker games. We may suspend or terminate your GMCpay Account at any time or refuse to execute or reverse a transaction if we believe that you directly or indirectly use or have used your GMCpay Account for or in connection with illegal gambling transactions. Countries where online gambling is illegal include the United States of America, Turkey, China, Malaysia and Israel. This list is not exhaustive and it is your responsibility to ensure that you do not use our services for transactions that may be considered illegal in your jurisdiction.
            </p>

            <p>
                <b>Information We Collect</b><br/>
                We may collect and process the following data about you:<br/>
                1. your full name, address, email address, telephone number, date of birth and bank or payment card details and any proof of your identity and/or address that we may request,<br/>
                2. details of any transactions you carry out through our Website using your GMCpay Account and of the fulfillment of your requests,<br/>
                3. details of any bank account<br/>
                4. details of any credit, debit or other card used by you for transactions,<br/>
                5. your IP address, log-in times, operating system and browser type,<br/>
                6. Details of your visits to our Website include, but not limited to, traffic data, location data, weblogs and other communication data, whether this is required for our own billing purposes or otherwise and the resources that you access whilst visiting our Website.
            </p>

            <p>
                <b>Liability</b><br/>
                We shall not be liable for any indirect or consequential losses including but not limited to loss of profit, loss of business and loss of reputation. We shall not be liable for any losses arising from our compliance with legal and regulatory requirements.
                We shall not be liable for the assessment or payment of any taxes, duties or other charges that arise from the underlying commercial transaction between you and another GMCpay customer. Without prejudice to the foregoing, you are asked to check the transactions history of your GMCpay Account regularly and frequently and to contact Customer Service immediately in case you have any questions or concerns.
            </p>

            <p>
                <b>Communication</b><br/>
                We usually communicate to you via e-mail. For this purpose you must at all times maintain at least one valid e-mail address in your GMCpay Account profile. You are required to check for incoming messages regularly and frequently. E-mails may contain links to further communication on our Website. We will never send you any e-mails with executable files attached or with links to any executable files. If you receive any e-mail with such attachments, you should delete the message without clicking on the attachment. If you are unsure whether a communication is originating from us, please contact Customer Service.
            </p>

            <p>
                <b>Contact Us</b><br/>
                Questions, comments and requests regarding this Privacy Policy are welcomed and should be<br/>
                Email: gmcpay@corp.globalmarket.com<br/>
                Address: No.28&No.33,Yunshan NorthStreet,No.1128 Baiyun South Ave, Baiyun District,Guangzhou, P.R.C<br/>
                All rights reserved by GMCpay
            </p>
        </div>
        <div class="text-center margin-top">
            <button class="btn btn-primary" ng-click="close()">OK</button>
        </div>
    </div>
</div>