<div class="gmc-pay login">
    <div class="gmc-user-login gmc-user">
        <div class="gmc-pay-banner">
            <div class="form-login">
                <form name="loginForm">
                    <strong>{{$root.accountInfo.email}}</strong>
                    <input ng-model="password" ng-class="{error: passwordError}" type="password" class="form-login-text" placeholder="Password" />
                    <span ng-show="!passwordError">For security, please enter your buyer account password again. </span>
                    <span ng-show="passwordError" class="error">Incorrect password. Please check your Caps Lock and try again</span>
                    <input ng-disabled="!password" ng-click="login()" type="submit" class="button-large-yellow" value="Sign In" />
                </form>
            </div>
        </div>

        <div class="gmc-pay-process-nav"></div>

        <div class="content">
            <p>
                <strong>What is GMC PAY?</strong>
                <span>GMCpay is a trusted payment processing service offered by Global Market Group, a company listed on the London Stock Exchange (LSE:GMC). GMCpay allows payments and money transfers to be made for purchases on Globalmarket.com easily and quickly. No processing fee for GMCpay, no matter how many times shopping on globalmarket.com. Save more money for you!</span>
            </p>
        </div>

    </div>
</div>