<div class="container">
    <ul class="nav-step-bar">
        <li class="col-sm-4 current-primary">Verify Email Address</li>
        <li class="col-sm-4 ">Verify Payment Detail</li>
        <li class="col-sm-4">Completed</li>
    </ul>

    <!--发验证邮件前-->
    <div ng-show="!hasSendVerificationEmail">

        <br/>

        <p>
            <span class="text-muted text-v-center">Your account:</span><b class="margin-small-left text-v-center">{{$root.accountInfo.email}}</b>
        </p>

        <br/>

        <button type="button" class="btn btn-warning" ng-click="sendVerificationEmail()">Send Email</button>
    </div>

    <!--发验证邮件后-->
    <div ng-show="hasSendVerificationEmail">

        <br/>

        <div class="media">
            <div class="media-left"><span class="icon icon-email-success"></span></div>
            <div class="media-body">
                <h3 class="text-success margin-top">Please Check Your Email Inbox.</h3>
            </div>
        </div>

        <br/>

        <p class="text-muted">
            An email has been sent to ( <b class="text-default" bindonce="confusionAccountEmail" bo-text="confusionAccountEmail"></b> ). Please check your email inbox now and follow the instruction to complete the verification.
            If inbox is setting highly security, please check SPAM as well.
        </p>

        <p>
            <a bindonce="mailServerUrl" ng-show="mailServerUrl" bo-href="mailServerUrl" target="_blank" class="btn btn-warning btn-sm">Check My Email Inbox</a>
            <span class="text-muted margin-small-left">This email will be nullity in 10 minutes.</span>
        </p>

        <p> haven't received the email. <a href="javascript:void(0)" ng-click="sendVerificationEmail()">Send again</a></p>
    </div>

</div>