<div class="container">
    <ul class="nav-step-bar">
        <li class="col-sm-4 cancel">Verify Email Address</li>
        <li class="col-sm-4 cancel">Reset Payment Password</li>
        <li class="col-sm-4 current-primary">Completed</li>
    </ul>

    <br/><br/><br/><br/>

    <div class="text-center">
        <div class="children-vertical-middle text-success">
            <span class="icon icon-successful"></span>
            <h4 class="inline margin-small-top margin-left">
                Your new payment password has been set successfully!
            </h4>
        </div>

        <a href="#!/gmc-pay/login">Back to my GMCpay account</a>
    </div>

</div>