<div class="container">
    <ul class="nav-step-bar">
        <li class="col-sm-4 cancel">Verify Email Address</li>
        <li class="col-sm-4 current-primary">Reset Payment Password</li>
        <li class="col-sm-4">Completed</li>
    </ul>

    <br/>

    <div ng-if="verifyEmailLinkPass">
        <div class="page-header">
            <h4>Set a New Password</h4>
        </div>

        <form name="securityForm" class="form-horizontal margin-large-top">
            <div class="form-group">
                <label class="col-sm-3 control-label text-right">
                    Account:
                </label>
                <div class="col-sm-9">
                    <div><label class="control-label"><b class="text-primary">{{$root.accountInfo.email}}</b></label></div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label text-right">
                    New Payment Password:
                </label>
                <div class="col-sm-9">
                    <div class="row">
                        <div ng-class="{'form-item-invalid-bottom': securityForm.newPassword.$invalid && securityForm.newPassword.$dirty}" class="col-sm-6">
                            <input required ng-pattern="/^[0-9a-zA-Z]{6,20}$/" ng-model="$parent.newPassword" name="newPassword" type="password" class="form-control" placeholder="6-20 characters (letters or numbers only)">
                            <span class="invalid-message-danger"><span class="glyphicon glyphicon-remove-circle"></span> 6-20 characters (letters or numbers only)</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label text-right">
                    Confirm Your Password:
                </label>
                <div class="col-sm-9">
                    <div class="row">
                        <div ng-class="{'form-item-invalid-bottom':  securityForm.confirmPassword.$dirty && securityForm.confirmPassword.$invalid}" class="col-sm-6">
                            <input required ng-model="confirmPassword" match="newPassword" name="confirmPassword" type="password" class="form-control" placeholder="Enter password again">

                            <span class="invalid-message-danger"><span class="glyphicon glyphicon-remove-circle"></span> Password is incorrect</span>
                        </div>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3">
                    <button ng-click="submit()" ng-disabled="securityForm.$invalid" class="btn btn-warning margin-large-top">Submit</button>
                </div>
            </div>

        </form>
    </div>

</div>