<div>
    <div class="page-header">
        <h4>Reset Payment Password</h4>
    </div>

    <form name="securityForm" class="form-horizontal margin-large-top">
        <div class="form-group">
            <label class="col-sm-3 control-label text-right">
                Account:
            </label>
            <div class="col-sm-9">
                <div><label class="control-label"><b class="text-primary">{{$root.accountInfo.email}}</b></label></div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label text-right">
                Current Password:
            </label>
            <div class="col-sm-9">
                <div class="row">
                    <div ng-class="{'form-item-invalid-bottom': (securityForm.currentPassword.$invalid && securityForm.currentPassword.$dirty && !securityForm.currentPassword.$focused) || (!currentPasswordveritied && hasVerifyAction)}" class="col-sm-6">
                        <input ng-model="currentPassword"
                               required ng-pattern="/^[0-9a-zA-Z]{6,20}$/"
                               ng-blur="verifyCurrentPassword()"
                               name="currentPassword"
                               valid-focus
                               ng-class="{'ng-invalid': !currentPasswordveritied && hasVerifyAction}" type="password" class="form-control" placeholder="Enter current password">
                        <span class="invalid-message-danger"><span class="glyphicon glyphicon-remove-circle"></span> Password is incorrect</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label text-right">
                New Password:
            </label>
            <div class="col-sm-9">
                <div class="row">
                    <div ng-class="{'form-item-invalid-bottom': securityForm.newPassword.$invalid && securityForm.newPassword.$dirty && !securityForm.newPassword.$focused}" class="col-sm-6">
                        <input required
                               ng-pattern="/^[0-9a-zA-Z]{6,20}$/"
                               ng-disabled="!currentPasswordveritied"
                               valid-focus
                               ng-model="newPassword"
                               name="newPassword" type="password" class="form-control" placeholder="6-20 characters (letters or numbers only)">
                        <span class="invalid-message-danger"><span class="glyphicon glyphicon-remove-circle"></span> 6-20 characters (letters or numbers only)</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label text-right">
                Confirm New Password:
            </label>
            <div class="col-sm-9">
                <div class="row">
                    <div ng-class="{'form-item-invalid-bottom':  securityForm.confirmPassword.$dirty && securityForm.confirmPassword.$invalid && !securityForm.confirmPassword.$focused}" class="col-sm-6">
                        <input required
                               ng-disabled="!currentPasswordveritied"
                               valid-focus
                               ng-model="confirmPassword"
                               match="newPassword"
                               name="confirmPassword" type="password" class="form-control" placeholder="Enter password again">

                        <span class="invalid-message-danger"><span class="glyphicon glyphicon-remove-circle"></span> Password is incorrect</span>
                    </div>
                </div>

            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-9 text-center">
                <button ng-click="submit()" ng-disabled="securityForm.$invalid" class="btn btn-warning margin-large-top">Submit</button>
            </div>
        </div>

    </form>
</div>