<div class="container">
    <ul class="nav-step-bar">
        <li class="col-sm-4 cancel">Verify Email Address</li>
        <li class="col-sm-4 cancel">Verify Payment Detail</li>
        <li class="col-sm-4 current-primary">Completed</li>
    </ul>

    <br/>

    <div ng-if="requestIdValid" bindonce="withdrawInfo">
        <span class="icon icon-info-big pull-left"></span>

        <div class="pull-left margin-large-left">

            <h3 class="margin-xs-top">Your withdrawal request has been accepted!</h3>

            <p class="text-muted">
                The money will be transferred to you in 3-5 working days; it depends on the banks, so please check
                your account then.
            </p>

            <p class="text-muted">
                If you don’t receive the money in 8-10 working days, please feel free to contact us:
                <a href="mailto:gmcpay@corp.globalmarket.com">gmcpay@corp.globalmarket.com</a>
            </p>

            <hr/>

            <dl class="dl-horizontal-large">
                <dt>Withdrawal Request</dt>
                <dd><b>US <span bo-text="withdrawInfo.withdrawAmount | currency"></span></b></dd>
                <dt>Payment Processing Fee</dt>
                <dd><b>US <span bo-text="withdrawInfo.bankFee | currency"></span></b></dd>
                <dt>Actual Amount to Account</dt>
                <dd><h3 class="margin-xs-top">US <span bo-text="withdrawInfo.actualWithdrawAmount | currency"></span></h3></dd>
            </dl>

            <hr/>

            <div class="text-center">
                <a ng-href="#!/gmc-pay/withdraw/withdraw-detail?requestId={{requestId}}" class="btn btn-warning">Check the Withdrawal Progress</a>
            </div>

        </div>

    </div>

</div>