<div bindonce="i18nData">

    <div class="alert alert-info">
        <span class="glyphicon glyphicon-info-sign"></span>
        <span bo-text="i18nData.needFeedback"></span>
    </div>

    <table class="table margin-large-top">
        <thead>
        <tr class="info" bindonce="orderInfo">
            <td>
                <dl class="dl-horizontal"><dt bo-text="i18nData.orderNumber"></dt><dd bo-text="orderInfo.orderNO"></dd></dl>
            </td>
            <td>
                <dl class="dl-horizontal"><dt bo-text="i18nData.orderTime"></dt><dd bo-text="orderInfo.orderTime"></dd></dl>
            </td>
        </tr>
        </thead>
    </table>

    <!--厂家服务评价-->
    <div class="panel panel-default">
        <div class="panel-heading-foo">
            <h4 class="panel-title" bo-text="i18nData.FeedbackForManu"></h4>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-sm-3 text-large">
                    <p bindonce="orderInfo" bo-text="orderInfo.manuName">
                    </p>
                </div>
                <dl class="col-sm-9 dl-horizontal-large">
                    <dt bo-text="i18nData.ManuServices"></dt>
                    <dd>
                        <div class="text-warning text-large" rating ng-model="feedbackForManu.service" max="5" readonly="hasFeedbackForManu"></div>
                    </dd>
                    <dt bo-text="i18nData.responseSpeed"></dt>
                    <dd>
                        <div class="text-warning text-large" rating ng-model="feedbackForManu.responseSpeed" max="5" readonly="hasFeedbackForManu"></div>
                    </dd>
                    <dt bo-text="i18nData.processingSpeed"></dt>
                    <dd>
                        <div class="text-warning text-large" rating ng-model="feedbackForManu.processingSpeed" max="5" readonly="hasFeedbackForManu"></div>
                    </dd>
                </dl>
            </div>
        </div>

    </div>

    <!--物流评价-->
    <div class="panel panel-default">
        <div class="panel-heading-foo">
            <h4 class="panel-title" bo-text="i18nData.feedbackLogistic"></h4>
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-3" bo-text="i18nData.deliverySpeedService">
                    </label>
                    <div class="col-sm-9">
                        <label class="radio-inline">
                            <input ng-model="feedbackForLogistic" type="radio" value="1" name="deliveryService" ng-disabled="hasFeedbackForLogistic"> <span bo-text="i18nData.disappointed"></span>
                        </label>
                        <label class="radio-inline">
                            <input ng-model="feedbackForLogistic" type="radio" value="4" name="deliveryService" ng-disabled="hasFeedbackForLogistic"> <span bo-text="i18nData.unsatisfied"></span>
                        </label>
                        <label class="radio-inline">
                            <input ng-model="feedbackForLogistic" type="radio" value="3" name="deliveryService" ng-disabled="hasFeedbackForLogistic"> <span bo-text="i18nData.fair"></span>
                        </label>
                        <label class="radio-inline">
                            <input ng-model="feedbackForLogistic" type="radio" value="2" name="deliveryService" ng-disabled="hasFeedbackForLogistic"> <span bo-text="i18nData.satisfied"></span>
                        </label>
                        <label class="radio-inline">
                            <input ng-model="feedbackForLogistic" type="radio" value="5" name="deliveryService" ng-disabled="hasFeedbackForLogistic"> <span bo-text="i18nData.amazing"></span>
                        </label>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="text-center" ng-if="!hasFeedbackForLogistic && !hasFeedbackForManu">
        <button class="btn btn-warning" ng-click="submitManuAndLogisticFeedback()" bo-text="i18nData.submit"></button>
    </div>

    <!--商品评价-->
    <div class="panel panel-default margin-large-top">
        <div class="panel-heading-foo">
            <h4 class="panel-title"><span bo-text="i18nData.feedbackForItems"></span> <small><span class="text-warning">{{feedbackForProducts.length}}</span> <span class="text-muted" bo-text="i18nData.itemsAwaitingFeedback"></span></small></h4>
        </div>
        <div class="panel-body">
            <div class="media-list">

                <div class="media" bindonce ng-repeat="productItem in feedbackForProducts">
                    <div class="media-left">
                        <a bo-href="productItem.productUrl" target="_blank">
                            <img width="64px" height="64px" bo-src="productItem.picture">
                        </a>
                    </div>

                    <!--只读状态-->
                    <div class="media-body" ng-if="hasFeedbackForProducts">
                        <a bo-href="productItem.productUrl" target="_blank">
                            <p class="text-large" bo-text="productItem.productName"></p>
                        </a>

                        <div class="panel panel-info bg-info">
                            <div class="panel-heading-baz">
                                <span class="panel-title" bo-text="i18nData.itemArrivedAsDesc"></span>
                                <div class="text-warning text-large margin-left" rating ng-model="productItem.feedback.feedbackScore" max="5" readonly="true"></div>
                            </div>
                            <div class="panel-body">
                                <b bo-text="i18nData.comments"></b>
                                <p bo-text="productItem.feedback.comments"></p>
                                <div bo-if="productItem.feedback.manuReply">
                                    <b bo-text="i18nData.manuReply"></b>
                                    <p bo-text="productItem.feedback.manuReply"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--可编辑状态-->
                    <div class="media-body" ng-if="!hasFeedbackForProducts">
                        <a bo-href="productItem.productUrl" target="_blank">
                            <span class="text-large" bo-text="productItem.productName"></span>
                        </a>

                        <br/>

                        <span>
                            <span bo-text="i18nData.itemArrivedAsDesc"></span>
                            <div class="text-warning text-large margin-left" rating ng-model="productItem.feedback.feedbackScore" max="5" readonly="false"></div>
                        </span>

                        <textarea ng-model="productItem.feedback.comments" maxlength="140" class="form-control margin-top" placeholder="{{i18nData.clickAddComments}}" rows="1"></textarea>
                        <span class="pull-right">{{productItem.feedback.comments.length || 0}}/140</span>

                        <!--<button class="btn btn-warning btn-sm margin-top">Submit</button>-->
                    </div>

                </div>

            </div>
        </div>

        <div ng-if="!hasFeedbackForProducts" class="panel-footer text-center">
            <button class="btn btn-warning" ng-click="submitProductsFeedback()" bo-text="i18nData.submit"></button>
        </div>
    </div>

</div>