<div bindonce="i18nData">

    <div tabset bindonce="statusStatData">
        <div tab heading="{{i18nData.allOrders}}" select="switchOrderStatus(0)"></div>
        <div tab heading="{{i18nData[statusStatData[orderStatus.pending_payment].statusName] + ' (' + statusStatData[orderStatus.pending_payment].count + ')'}}" select="switchOrderStatus(orderStatus.pending_payment)"></div>
        <div tab heading="{{i18nData[statusStatData[orderStatus.processing].statusName] + ' (' + statusStatData[orderStatus.processing].count + ')'}}" select="switchOrderStatus(orderStatus.processing)"></div>
        <div tab heading="{{i18nData[statusStatData[orderStatus.shipping].statusName] + ' (' + statusStatData[orderStatus.shipping].count + ')'}}" select="switchOrderStatus(orderStatus.shipping)"></div>
        <div tab heading="{{i18nData[statusStatData[orderStatus.received].statusName] + ' (' + statusStatData[orderStatus.received].count + ')'}}" select="switchOrderStatus(orderStatus.received)"></div>
        <div tab heading="{{i18nData[statusStatData[orderStatus.cancel].statusName] + ' (' + statusStatData[orderStatus.cancel].count + ')'}}" select="switchOrderStatus(orderStatus.cancel)"></div>
        <div tab heading="{{i18nData[statusStatData[orderStatus.refund_dispute].statusName] + ' (' + statusStatData[orderStatus.refund_dispute].count + ')'}}" select="switchOrderStatus(orderStatus.refund_dispute)"></div>
    </div>

    <div class="margin-large-top">

        <!--查询条件-->
        <form class="form-inline" ng-submit="searchOrderList()">
            <div class="form-group margin-small-right">
                <div class="input-group">
                    <select ng-model="searchType" ng-options="item.value as item.label for item in searchTypes" class="form-control">
                    </select>
                </div>
            </div>
            <div class="form-group margin-small-right">
                <input type="text" class="form-control" ng-model="searchKeyword">
            </div>
            <button type="submit" class="btn btn-default btn-sm" bo-text="i18nData.search"></button>
        </form>

        <!--表头-->
        <table class="table margin-large-top">
            <colgroup>
                <col width="35%"/>
                <col width="20%"/>
                <col width="15%"/>
                <col width="15%"/>
                <col width="15%"/>
            </colgroup>
            <thead>
            <tr class="info">
                <td bo-text="i18nData.itemList"></td>
                <td bo-text="i18nData.shippingCost"></td>
                <td bo-text="i18nData.amount"></td>
                <td bo-text="i18nData.status"></td>
                <td class="text-right" bo-text="i18nData.operate"></td>
            </tr>
            </thead>
        </table>

        <!--订单列表内容-->
        <div class="panel panel-default margin-bottom" bindonce ng-repeat="orderItem in orderList">
            <div class="panel-heading-baz no-margin no-padding">
                <table class="table text-muted no-margin">
                    <colgroup>
                        <col width="20%"/>
                        <col width="35%"/>
                        <col width="30%"/>
                        <col width="15%"/>
                    </colgroup>
                    <thead>
                    <tr>
                        <td bo-text="orderItem.orderTime"></td>
                        <td>
                            <span bo-text="i18nData.orderNO"></span>: <span bo-text="orderItem.orderNO"></span>
                        </td>
                        <td>
                            <div href="javascript:void(0)">
                                <span class="icon icon-store text-v-center"></span>
                                <span bo-text="orderItem.manuName"></span>
                            </div>
                        </td>
                        <td>
                            <a class="pull-right" href="javascript:void(0)">
                                <span talknow-Handler talknow-param-id="{{orderItem.manuId}}" talknow-param-id-type="compId"></span> <span bo-text="i18nData.contactMe"></span>
                            </a>
                        </td>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="panel-body no-margin no-padding">

                <table class="table no-margin">
                    <colgroup>
                        <col width="35%"/>
                        <col width="20%"/>
                        <col width="15%"/>
                        <col width="15%"/>
                        <col width="15%"/>
                    </colgroup>
                    <tbody>
                    <tr>
                        <td>
                            <div class="row">
                                <a bindonce ng-repeat="productItem in orderItem.products" bo-href="productItem.productUrl" target="_blank" class="col-sm-3">
                                    <img class="full-width" bo-src="productItem.picture || 'http://static.globalmarket.com/portal/image/img-placeholder-160x160.png'">
                                </a>
                            </div>
                        </td>
                        <td>
                            <p bo-text="orderItem.lgsMethod"></p>
                            <p class="text-danger"><span bo-text="orderItem.shippingCost | currency:$root.displayCurrency(orderItem.currency)"></span></p>
                            <p class="text-muted" bo-if="orderItem.duty"><span bo-text="i18nData.duty"></span> <span bo-text="orderItem.duty | currency:$root.displayCurrency(orderItem.currency)"></span></p>
                        </td>
                        <td>
                            <p bo-text="i18nData.total"></p>
                            <p><span bo-text="orderItem.grandTotal | currency:$root.displayCurrency(orderItem.currency)"></span></p>
                        </td>
                        <td>
                            <span bo-text="i18nData[orderItem.statusName]"></span>

                            <!--TODO Daniel: 未有该字段-->
                            <p class="hide">
                                <a href="javascript:void(0)" class="text-warning">
                                    <u bo-text="i18nData.outOfDateApplyRefund"></u>
                                </a>
                            </p>
                        </td>
                        <td class="text-right">
                            <!--pay now-->
                            <a bo-if="orderItem.status == orderStatus.pending_payment" bo-href="orderItem.payUrl" target="_blank" class="btn btn-warning btn-sm" bo-text="i18nData.payNow"></a>

                            <!--确认订单-->
                            <button bo-if="orderItem.status == orderStatus.shipping" ng-click="confirmDelivery(orderItem.orderId)" class="btn btn-primary btn-sm" bo-text="i18nData.confirmDelivery"></button>

                            <!--feedback-->
                            <a bo-if="orderItem.status == orderStatus.received" bo-href="'#!/order/my-orders/order-detail/feedback?orderId=' +  orderItem.orderId" class="btn btn-primary btn-sm" bo-text="i18nData.feedback"></a>

                            <!--订单详情-->
                            <p class="margin-large-top">
                                <a bo-href="'#!/order/my-orders/order-detail?orderId=' + orderItem.orderId" bo-text="i18nData.orderDetail"></a>
                            </p>

                            <!--TODO Daniel: 这个版本暂不做该功能-->
                            <!--<p bo-if="orderItem.status == orderStatus.received || orderItem.status == orderStatus.cancel">-->
                            <!--<a href="javascript:void(0)" bo-text="i18nData.reOrder"></a>-->
                            <!--</p>-->

                            <!--退货-->
                            <p bo-if="orderItem.status == orderStatus.processing || orderItem.status == orderStatus.shipping">
                                <a href="javascript:void(0)" bo-href="'#!/order/dispute-refund/dispute-refund-detail?orderId=' + orderItem.orderId + '&refundId=' + (orderItem.refundId ? orderItem.refundId : '')">
                                    <span bo-if="orderItem.isInDispute" bo-text="i18nData.viewDispute"></span>
                                    <span bo-if="!orderItem.isInDispute" bo-text="i18nData.openDispute"></span>
                                </a>
                            </p>

                            <!--删除-->
                            <p ng-if="false">
                                <a href="javascript:void(0)" bo-text="i18nData.delete"></a>
                            </p>

                            <!--取消-->
                            <p bo-if="orderItem.status == orderStatus.pending_payment">
                                <a href="javascript:void(0)" ng-click="cancelOrder(orderItem.orderId)" bo-text="i18nData.cancelOrder"></a>
                            </p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!--没有数据的情况-->
        <div class="panel panel-default" ng-show="orderList.length == 0">
            <div class="panel-body text-center">
                <h2 bo-text="i18nData.noData"></h2>
            </div>
        </div>

        <!--分页-->
        <div pagination total-items="pagerOptions.totalItems" items-per-page="pagerOptions.pageSize" ng-model="pagerOptions.pageNum" ng-change="searchOrderList()" class="pull-right" previous-text="{{i18nData.previousPage}}" next-text="{{i18nData.nextPage}}"></div>

    </div>

</div>