<div bindonce="orderDetail" bindonce="i18nData">

    <!--订单处理进度-->
    <ul class="nav-step-bar">
        <li ng-class="{current: orderDetail.statusHistory.length >= 1}" class="col-sm-3" bo-text="i18nData.placeOrder"></li>
        <li ng-class="{current: orderDetail.statusHistory.length >= 2}" class="col-sm-3" bo-text="i18nData.paySuccess"></li>
        <li ng-class="{current: orderDetail.statusHistory.length >= 3}" class="col-sm-3" bo-text="i18nData.shipped"></li>
        <li ng-class="{current: orderDetail.statusHistory.length >= 4}" class="col-sm-3" bo-text="i18nData.delivered"></li>
    </ul>
    <ul class="nav-step-info-bar">
        <li class="col-sm-3" bindonce ng-repeat="historyItem in orderDetail.statusHistory" bo-class="{'current': orderDetail.statusHistory.length-1 == $index}"><small class="text-muted" bo-text="historyItem.time"></small></li>
    </ul>

    <!--订单状态及提醒信息-->
    <div class="panel panel-default margin-large-top">
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt bo-text="i18nData.orderNumber"></dt>
                <dd bo-text="orderDetail.orderNO"></dd>
                <dt bo-text="i18nData.orderStatus"></dt>
                <dd>
                    <!--无发生退款，退款取消的情况-->
                    <span bo-if="!orderDetail.isInDispute && (orderDetail.refundStatus == undefined || orderDetail.refundStatus == disputeStatus.canceled)">
                        <strong bo-if="orderDetail.status == orderStatus.pending_payment" bo-text="i18nData.pendingPaymentTip"></strong>
                        <strong bo-if="orderDetail.status == orderStatus.processing" bo-text="i18nData.processingTip"></strong>
                        <strong bo-if="orderDetail.status == orderStatus.shipping" bo-text="i18nData.shippingTip"></strong>
                        <strong bo-if="orderDetail.status == orderStatus.received" bo-text="i18nData.completedTip"></strong>
                        <strong bo-if="orderDetail.status == orderStatus.cancel" bo-text="i18nData.canceledTip"></strong>
                    </span>

                    <!--有发生退款的情况-->
                    <strong bo-if="orderDetail.isInDispute && orderDetail.refundStatus != disputeStatus.approved" bo-text="i18nData.disputingTip"></strong>
                    <strong bo-if="orderDetail.isInDispute && orderDetail.refundStatus == disputeStatus.approved" bo-text="i18nData.refundedTip"></strong>
                </dd>
                <div bo-if="orderDetail.status != orderStatus.received && orderDetail.status != orderStatus.cancel">
                    <dt bo-text="i18nData.reminder"></dt>

                    <!--无发生退款，退款完成或退款取消的情况-->
                    <span bo-if="!orderDetail.isInDispute && (orderDetail.refundStatus == undefined || orderDetail.refundStatus == disputeStatus.canceled)">
                        <dd bo-if="orderDetail.status == orderStatus.pending_payment">
                            <strong class="text-danger" timer end-time="orderDetail.deadline" class="text-warning">{{days}} <span bo-text="i18nData.days"></span> {{hours}}<span bo-text="i18nData.h"></span> {{minutes}}<span bo-text="i18nData.m"></span> {{seconds}}<span bo-text="i18nData.s"></span></strong> <span bo-text="i18nData.leftToPay"></span>
                        </dd>
                        <dd bo-if="orderDetail.status == orderStatus.processing">
                            <span bo-text="i18nData.shipOrderWithin"></span> <strong class="text-danger" timer end-time="orderDetail.deadline" class="text-warning">{{days}}<span bo-text="i18nData.days"></span> {{hours}}<span bo-text="i18nData.h"></span> {{minutes}}<span bo-text="i18nData.m"></span> {{seconds}}<span bo-text="i18nData.s"></span></strong>
                        </dd>
                        <dd bo-if="orderDetail.status == orderStatus.shipping">
                            <span bo-text="i18nData.completedAutoBySystemIn"></span> <strong class="text-danger" timer end-time="orderDetail.deadline" class="text-warning">{{days}}<span bo-text="i18nData.days"></span> {{hours}}<span bo-text="i18nData.h"></span> {{minutes}}<span bo-text="i18nData.m"></span> {{seconds}}<span bo-text="i18nData.s"></span></strong><br/>
                            <span bo-text="i18nData.receivedConfirmOrOpenRefund"></span>
                        </dd>
                    </span>

                    <!--有发生退款的情况-->
                    <dd bo-if="orderDetail.isInDispute && orderDetail.refundStatus != disputeStatus.approved">
                        <span bo-text="i18nData.openDisputeAt"></span> <span bo-text="orderDetail.refundRequestTime"></span><br/>
                        <span bo-text="i18nData.disputingWarn"></span>
                    </dd>
                    <dd bo-if="orderDetail.isInDispute && orderDetail.refundStatus == disputeStatus.approved">
                        <span bo-text="i18nData.refundedAt"></span> <span bo-text="orderDetail.refundCompleteTime"></span>
                    </dd>
                </div>
                <dd class="margin-top">

                    <!--无发生退款，退款完成或退款取消的情况-->
                    <span bo-if="!orderDetail.isInDispute && (orderDetail.refundStatus == undefined || orderDetail.refundStatus == disputeStatus.canceled)">
                        <!--pay now-->
                        <a bo-if="orderDetail.status == orderStatus.pending_payment" bo-href="orderDetail.payUrl" target="_blank" class="btn btn-warning" bo-text="i18nData.payNow"></a>

                        <!--cancel order-->
                        <button bo-if="orderDetail.status == orderStatus.pending_payment" class="btn btn-default margin-left" ng-click="cancelOrder()" bo-text="i18nData.cancelOrder"></button>

                        <!--extend processing time-->
                        <!--<button bo-if="orderDetail.status == orderStatus.processing" class="btn btn-warning" ng-click="extendProcessingTime()" bo-text="i18nData.extendProcessingTime"></button>-->

                        <!--confirm delivery-->
                        <button bo-if="orderDetail.status == orderStatus.shipping" class="btn btn-warning" ng-click="confirmDelivery()" bo-text="i18nData.confirmDelivery"></button>

                        <!--extend confirm time-->
                        <!--<button bo-if="orderDetail.status == orderStatus.shipping" class="btn btn-success margin-left" ng-click="extendConfirmTime()" bo-text="i18nData.extendConfirmTime"></button>-->

                        <!--feedback-->
                        <a bo-if="orderDetail.status == orderStatus.received" bo-href="'#!/order/my-orders/order-detail/feedback?orderId=' + orderDetail.orderId" class="btn btn-warning" bo-text="i18nData.feedback"></a>

                        <!--add to cart again-->
                        <!--<button bo-if="orderDetail.status == orderStatus.received || orderDetail.status == orderStatus.cancel" class="btn btn-warning" bo-text="i18nData.addToCartAgain"></button>-->

                        <!--open dispute-->
                        <a bo-if="orderDetail.status == orderStatus.processing || orderDetail.status == orderStatus.shipping" bo-href="'#!/order/dispute-refund/dispute-refund-detail?orderId=' + orderDetail.orderId" class="btn btn-default margin-left">
                            <span bo-if="!orderDetail.isInDispute" bo-text="i18nData.openDispute"></span>
                        </a>
                    </span>

                    <!--有发生退款的情况-->
                    <span bo-if="orderDetail.isInDispute && orderDetail.refundStatus != disputeStatus.approved">
                        <!--dispute detail-->
                        <a bo-if="orderDetail.status == orderStatus.processing || orderDetail.status == orderStatus.shipping" bo-href="'#!/order/dispute-refund/dispute-refund-detail?orderId=' + orderDetail.orderId + '&refundId=' + (orderDetail.refundId ? orderDetail.refundId : '')" class="btn btn-default">
                            <span bo-text="i18nData.viewDispute"></span>
                        </a>
                    </span>
                    <span bo-if="orderDetail.isInDispute && orderDetail.refundStatus == disputeStatus.approved">
                        <!--dispute detail-->
                        <a bo-if="orderDetail.status == orderStatus.processing || orderDetail.status == orderStatus.shipping" bo-href="'#!/order/dispute-refund/dispute-refund-detail?orderId=' + orderDetail.orderId + '&refundId=' + (orderDetail.refundId ? orderDetail.refundId : '')" class="btn btn-default">
                            <span bo-text="i18nData.viewDispute"></span>
                        </a>

                        <!--add to cart again-->
                        <!--<button bo-if="orderDetail.status == orderStatus.received || orderDetail.status == orderStatus.cancel" class="btn btn-warning" bo-text="i18nData.addToCartAgain"></button>-->
                    </span>

                </dd>
                <dd class="margin-top">

                    <!--无发生退款的情况-->
                    <span bo-if="!orderDetail.isInDispute && (orderDetail.refundStatus == undefined || orderDetail.refundStatus == disputeStatus.canceled)">
                        <div bo-if="orderDetail.status != orderStatus.received && orderDetail.status != orderStatus.cancel" class="alert alert-warning">
                            <span class="glyphicon glyphicon-info-sign"></span>

                            <span bo-if="orderDetail.status == orderStatus.pending_payment" bo-text="i18nData.withoutPaymentCancelled"></span>
                            <span bo-if="orderDetail.status == orderStatus.processing" bo-text="i18nData.moreThanShipDeadlineCanOpenDispute"></span>
                            <span bo-if="orderDetail.status == orderStatus.shipping" bo-text="i18nData.confirmDeliveryWarn"></span>
                        </div>
                    </span>
                </dd>
            </dl>
        </div>
    </div>

    <!--物流信息-->
    <div>
        <div class="page-header">
            <h4 class="text-primary" bo-text="i18nData.logisticInfo"></h4>
        </div>

        <div class="row">
            <dl class="col-sm-6 dl-horizontal">
                <dt bo-if="orderDetail.logistic.shippingTime" bo-text="i18nData.shippingTime"></dt>
                <dd bo-if="orderDetail.logistic.shippingTime" bo-text="orderDetail.logistic.shippingTime"></dd>
                <dt bo-text="i18nData.shippingMethod"></dt>
                <dd bo-text="orderDetail.logistic.shippingMethod"></dd>
            </dl>
            <dl class="col-sm-6 dl-horizontal">
                <dt bo-if="orderDetail.logistic.trackingNumber" bo-text="i18nData.trackingNumber"></dt>
                <dd bo-if="orderDetail.logistic.trackingNumber" bo-text="orderDetail.logistic.trackingNumber"></dd>
                <dt bo-text="i18nData.cost"></dt>
                <dd><span bo-text="orderDetail.logistic.shippingCost | currency:$root.displayCurrency(orderDetail.currency)"></span></dd>
            </dl>
        </div>

        <div class="margin-top" bo-if="orderDetail.logistic.records.length > 0">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p bindonce ng-repeat="item in orderDetail.logistic.records">
                        <span class="text-muted" bo-text="item.createTime"></span>  <span bo-text="item.remark"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>


    <!--订单详情-->
    <div>
        <div class="page-header">
            <h4 class="text-primary" bo-text="i18nData.detail"></h4>
        </div>

        <p bo-if="orderDetail.compStoreEnable">
            <span bo-text="i18nData.store"></span>: <a bo-href="orderDetail.manuStoreUrl" target="_blank" bo-text="orderDetail[i18nData.storeNameKey]"></a>
            <button class="btn btn-default btn-sm margin-left">
                <span talknow-Handler talknow-param-id="{{orderDetail.manuId}}" talknow-param-id-type="compId"></span>
                <span bo-text="i18nData.contactMe"></span>
            </button>
        </p>

        <!--shipping address-->
        <div class="panel panel-default">
            <div class="panel-heading-foo panel-title">
                <h4 class="panel-title" bo-text="i18nData.shippingAddress"></h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <dl class="col-sm-6 dl-horizontal">
                        <dt bo-text="i18nData.contactPerson"></dt>
                        <dd bo-text="orderDetail.shippingAddress.contactPerson"></dd>
                        <dt bo-text="i18nData.tel"></dt>
                        <dd bo-text="orderDetail.shippingAddress.tel"></dd>
                        <dt bo-text="i18nData.phone"></dt>
                        <dd bo-text="orderDetail.shippingAddress.phone"></dd>
                        <dt bo-text="i18nData.email"></dt>
                        <dd bo-text="orderDetail.shippingAddress.email"></dd>
                    </dl>
                    <dl class="col-sm-6 dl-horizontal">
                        <dt bo-text="i18nData.addressLine"></dt>
                        <dd bo-text="orderDetail.shippingAddress.address"></dd>
                        <dt bo-text="i18nData.countryOrRegion"></dt>
                        <dd bo-text="orderDetail.shippingAddress.country"></dd>
                        <dt bo-text="i18nData.stateOrProvince"></dt>
                        <dd bo-text="orderDetail.shippingAddress.province"></dd>
                        <dt bo-text="i18nData.city"></dt>
                        <dd bo-text="orderDetail.shippingAddress.city"></dd>
                        <dt bo-text="i18nData.zip"></dt>
                        <dd bo-text="orderDetail.shippingAddress.zip"></dd>
                    </dl>
                </div>
            </div>
        </div>

        <!--item(s) list-->
        <div class="panel panel-default">
            <div class="panel-heading-foo">
                <h4 class="panel-title" bo-text="i18nData.itemList"></h4>
            </div>
            <div class="panel-body">

                <table class="table">
                   <colgroup>
                       <col width="46%">
                       <col width="18%">
                       <col width="18%">
                       <col width="18%">
                   </colgroup>
                   <thead>
                   <tr class="info">
                       <td><small bo-text="i18nData.productName"></small></td>
                       <td><small bo-text="i18nData.quantity"></small></td>
                       <td><small bo-text="i18nData.unitPrice"></small></td>
                       <td><small bo-text="i18nData.itemsPrice"></small></td>
                   </tr>
                   </thead>
                   <tbody>
                   <tr bindonce ng-repeat="productItem in orderDetail.products">
                       <td>
                           <div class="media">
                               <a class="media-left" bo-href="productItem.productUrl" target="_blank">
                                   <img width="64px" height="64px" bo-src="productItem.picture || 'http://static.globalmarket.com/portal/image/img-placeholder-160x160.png'">
                               </a>
                               <div class="media-body">
                                   <a bo-href="productItem.productUrl" target="_blank">
                                       <p bo-text="productItem.productName"></p>
                                   </a>
                                   <p>
                                       <span class="margin-right" bindonce ng-repeat="item in productItem.skuAttributes">
                                           <span class="text-muted" bo-text="item.attrName"></span>
                                           <span bo-text="item.attrValue"></span>
                                       </span>
                                   </p>
                               </div>
                           </div>
                       </td>
                       <td>
                           <span bo-text="productItem.quantity"></span>
                           <span bo-if="productItem.quantity == 1" bo-text="productItem.unitName"></span>
                           <span bo-if="productItem.quantity > 1" bo-text="productItem.unitPluralName"></span>
                       </td>
                       <td>
                           <strong><span bo-text="productItem.unitPrice | currency:$root.displayCurrency(orderDetail.currency)"></span></strong> /<span bo-text="productItem.unitName"></span>
                       </td>
                       <td>
                           <strong><span bo-text="productItem.totalPrice | currency:$root.displayCurrency(orderDetail.currency)"></span></strong>
                       </td>
                   </tr>
                   </tbody>
                </table>

                <div class="padding-large-horizontal row">

                    <div class="margin-small-left padding-vertical col-sm-6">
                        <!--
                        <div class="media padding-large-vertical padding-horizontal content-body-bg">
                            <div class="media-left">
                                <span class="icon icon-shipping-method margin-small-top"></span>
                            </div>
                            <div class="media-body">
                                <dl class="dl-horizontal">
                                    <dt>Shipping Method</dt>
                                    <dd>
                                        <select class="form-control">
                                            <option>UPS Expedited</option>
                                        </select>
                                    </dd>
                                    <dt>Shipping Time</dt>
                                    <dd>Estimated 15-34 days</dd>
                                </dl>
                            </div>
                        </div>
                        -->
                    </div>

                    <div class="pull-right">
                        <dl class="dl-horizontal">
                            <dt><span bo-text="i18nData.itemTotal"></span>:</dt>
                            <dd><strong><span bo-text="orderDetail.productTotalPrice | currency:$root.displayCurrency(orderDetail.currency)"></span></strong></dd>
                            <dt><span bo-text="i18nData.shippingCost"></span>:</dt>
                            <dd><strong><span bo-text="orderDetail.logistic.shippingCost | currency:$root.displayCurrency(orderDetail.currency)"></span></strong></dd>
                            <dt><span bo-text="i18nData.duty"></span>:</dt>
                            <dd><strong><span bo-text="orderDetail.duty | currency:$root.displayCurrency(orderDetail.currency)"></span></strong></dd>
                            <dt><h4><span bo-text="i18nData.subTotal"></span>:</h4></dt>
                            <dd><h4 class="text-danger"><span bo-text="orderDetail.subTotal | currency:$root.displayCurrency(orderDetail.currency)"></span></h4></dd>
                        </dl>
                    </div>

                </div>

            </div>
        </div>

    </div>


</div>